<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title %></title>
  </head>
  <body>
    <h1>Here We will see our contacts list</h1>
    <div class="container">
      <ul class="contacts">
        <% for(let i of contact_list) {%>

        <li>
          <p><%= i.name %></p>
          <p><%= i.phone %></p>
        </li>

        <%}%>
      </ul>
    </div>
    <form action="/create-contact" method="post">
        <input type="text" name="name" placeholder="Write your name here">
        <input type="number" name="phone" placeholder="Write your mobile number here">

        <button type="submit">Add Contacts</button>
    </form>
  </body>
</html>
